/* body {
  overflow-y: hidden;
} */

.l-swipeEffect p {
  margin: 0;
}

.l-swipeEffect {
  --category-region-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-swipeEffect .l-category {
  display: flex;
  width: 100vw;
  height: var(--category-region-height);
  overflow-x: auto;
}

.l-swipeEffect .c-category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.l-swipeEffect .c-category__item {
  background-color: gray;
  color: white;
  padding: 0.5rem;
  margin: auto 1rem;
}

.l-swipeEffect .c-category__item--isActive {
  background-color: blue;
}

.l-swipeEffect .l-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - var(--category-region-height));
  /* border-left: 2px black solid;
    border-right: 2px black solid; */
  overflow-x: auto;
  overflow-y: hidden;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}

.l-swipeEffect .l-container > div {
  width: 100%;
  height: 100%;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  overflow: auto;
}

.l-swipeEffect .l-container > div > div {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.l-swipeEffect .c-content1__child {
  background-color: red;
  /* height: 80%; */
}

.l-swipeEffect .c-content2__child {
  background-color: orange;
  /* height: 300px; */
}

.l-swipeEffect .c-content3__child {
  background-color: yellow;
  /* height: 3000px; */
}

.l-swipeEffect .c-content4__child {
  background-color: green;
  /* height: 500px; */
}

.l-swipeEffect .c-content5__child {
  background-color: blue;
  /* height: 300px; */
}

.l-swipeEffect .c-content6__child {
  background-color: blueviolet;
  /* height: 300px; */
}

.l-swipeEffect .c-content7__child {
  background-color: purple;
  /* height: 300px; */
}
